version: '3.8'
services:
  ipindex-node:
    container_name: ipindex-node
    entrypoint: node
    command: src/server.js
    image: ghcr.io/umkus/ipindex-node:latest
    restart: always

  ipindex-nginx:
    container_name: ipindex-nginx
    depends_on:
      - ipindex-node
    image: ghcr.io/umkus/ipindex-nginx:latest
    entrypoint: nginx
    ports:
      - 80:80
    restart: always
